.products {
  margin-top: 20px;
  padding-block: 50px;
  background: #212529;

  .main {
    .content {
      display: flex;
      align-items: center;
      justify-content: space-around;
      .product {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
        border-radius: 10px;
        padding: 40px;
        text-align: center;
        background: #ced4da;
        height: 300px;
        min-width: 350px;
        position: relative;
        img {
          width: 100%;
          height: 250px;
          width: 250px;
        }
        h2 {
          font-size: 18px;
        }
        h3 {
          font-size: 12px;
        }
        .delete {
          cursor: pointer;
          position: absolute;
          right: 10px;
          top: 10px;
          color: black;
          font-size: 25px;
        }
        .favorite {
          cursor: pointer;
          position: absolute;
          top: 10px;
          left: 10px;
        }
      }
    }
  }
}
